.setSize{
  height : 70vw !important;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.body .ui-dialog {
  margin-left: 10% !important ;
  margin-right: 10% !important;
}
