<!--     <div class="modal-content">-->
<!--       <ng-template #content let-modal>-->
<!--         <div class="modal-header">-->
<!--           <h4 class="modal-title" id="modal-basic-title">{{header}}</h4>-->
<!--           <button type="button" class="close" aria-label="Close" (click)="method(modal)">-->
<!--             <span aria-hidden="true">&times;</span>-->
<!--           </button>-->
<!--         </div>-->
<!--         <div class="modal-body">-->
<!--             <div class="form-group">-->
<!--               <ng-content></ng-content>-->
<!--             </div>-->
<!--         </div>-->

<!--           &lt;!&ndash;          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>&ndash;&gt;-->
<!--           <button type="button" class="btn btn-primary" (click)="save(modal)">Close</button>-->



<!--       </ng-template>-->

<!--     </div>-->



  <p-dialog [header]="header" [modal]="true" [(visible)]="setDialogBox" (onHide)="hide()" >
    <ng-content></ng-content>
  </p-dialog>



