.cardS{
  height: 200% !important;
}

.centreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myBtn {
  margin-top: 1rem;
  margin-left: 0;
}

.myPad {
  padding-left: 0;
  padding-right: 0;
}

.myCard {
  margin-bottom: 0;
}

