<!--<app-loader [loader]="dataLoading"></app-loader>-->
<app-common-grid
  #complaintGrid
  [addAllow]="addAllow"
  [showToolBar]="showToolBar"
  [deleteAllow]="deleteAllow"
  [showSearchBox]="showSearchBox"
>
  <button
    pButton
    type="button"
    icon="icofont icofont-ui-add"
    style="margin-right: 0.25em;"
    class="ui-button-info"
    (click)="addButtonClick()"
  ></button>
<!--  <button-->
<!--    type="button"-->
<!--    pButton-->
<!--    style="margin-right: .25em"-->
<!--    icon="pi pi-check-square"-->
<!--    label="Completed"-->
<!--    iconPos="left"-->
<!--    (click)="changeStatus($event)"-->
<!--    *ngIf = "complaintGrid.selectedEntity && complaintGrid.selectedEntity.status === this.status "-->
<!--  >Completed</button>-->

  <button
    class="btn btn-success"
    style="margin-left: 10px;"
    iconPos="left"
    (click)="changeStatus(complaintGrid.selectedEntity)"
    *ngIf="
      complaintGrid.selectedEntity &&
      complaintGrid.selectedEntity.status.name === 'Pending'
    "
  >
    Completed
  </button>
</app-common-grid>
<div *ngIf="dataLoading">
  <div class="loader-table">
    <div class="whirly-loader"></div>
  </div>
</div>

<!--<p-dialog header="Compalint Form" [modal]="true" [(visible)]="display" [baseZIndex]="10000" [modal]="true">-->

<!--</p-dialog>-->


<!--  <app-common-dialog-box-->
<!--                         #complaintDialogBox-->
<!--                         [dialogBox]="setDialogBoxValue"-->
<!--                         [header]="headerName"-->
<!--                          (closeButtonClick)="close()"-->

<!--      >-->
<!--    <app-corporate-details></app-corporate-details>-->
<!--  </app-common-dialog-box>-->











