<div class="my-gallery row gallery-with-description" id="aniimated-thumbnials">
  <div class="my-app-custom-plain-container-with-desc row">
    <ng-container *ngFor="let img of imagesRect">
      <figure class="my-app-custom-image-with-desc col-xl-3 col-sm-6">
        <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" />
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy.</p>
        </div>
      </figure>
    </ng-container>
  </div>
  <ks-modal-gallery [id]="1" [modalImages]="imagesRect" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
    [currentImageConfig]="{downloadable: true}" [buttonsConfig]="buttonsConfigCustom">
  </ks-modal-gallery>
</div>