<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="customersForm" class="theme-form">
            <div class="ui-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label for="firstName">First name<span class="form-error">* </span>
                  <span *ngIf="firstName.touched && firstName.errors?.required"
                        class="form-error">  First name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="firstName"
                  placeholder="First name"
                  id="firstName"
                  [ngClass]="{
            'is-invalid': (firstName.touched ||firstName.dirty) && !firstName.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="lastName">Last name<span class="form-error">* </span>
                  <span *ngIf="lastName.touched && lastName.errors?.required"
                        class="form-error">  Last name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="lastName"
                  placeholder="Last name"
                  id="lastName"
                  [ngClass]="{
                     'is-invalid':(lastName.touched ||lastName.dirty) && !lastName.valid}"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="email">Email<span class="form-error">* </span>
                  <span *ngIf="email.touched && email.errors?.required"
                        class="form-error">  email is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Email"
                  formControlName="email"
                  placeholder="email"
                  id="email"
                  [ngClass]="{
                     'is-invalid': (email.touched ||email.dirty) && !email.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <label for="telNo">Contact Number<span class="form-error">* </span>
                  <span *ngIf="telNo.touched && telNo.errors?.required"
                        class="form-error">  Contact Number is required!</span>
                  <span *ngIf="telNo.errors?.isNum"
                        class="form-error">  Contact Number must be numbers</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="telNo"
                  placeholder="Contact No"
                  id="telNo"
                  [ngClass]="{
                     'is-invalid': (telNo.touched ||telNo.dirty) && !telNo.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="streetAddressLineOne">AddressLine1<span class="form-error">* </span>
                  <span *ngIf="streetAddressLineOne.touched && streetAddressLineOne.errors?.required"
                        class="form-error">  addressLine 1 is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="streetAddressLineOne"
                  placeholder="streetAddressLineOne"
                  id="streetAddressLineOne"
                  [ngClass]="{
                     'is-invalid': (streetAddressLineOne.touched ||streetAddressLineOne.dirty) && !streetAddressLineOne.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <label for="streetAddressLineTwo">AddressLine2<span class="form-error">* </span>
                  <span *ngIf="streetAddressLineTwo.touched && streetAddressLineTwo.errors?.required"
                        class="form-error">  addressLine 2 is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="streetAddressLineTwo"
                  placeholder="streetAddressLineTwo"
                  id="streetAddressLineTwo"
                  [ngClass]="{
                     'is-invalid': (streetAddressLineTwo.touched ||streetAddressLineTwo.dirty) && !streetAddressLineTwo.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label>Select Company</label>
                <app-common-dropdown [fields]="companyType"
                                     (selectChange)="getCompanyId($event)"
                ></app-common-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="country">Country<span class="form-error">* </span>
                  <span *ngIf="country.touched && country.errors?.required"
                        class="form-error">  country is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="country"
                  placeholder="country"
                  id="country"
                  [ngClass]="{
                     'is-invalid': (country.touched ||country.dirty) && !country.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="city">City<span class="form-error">* </span>
                  <span *ngIf="city.touched && city.errors?.required"
                        class="form-error">  city is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="city"
                  placeholder="city"
                  id="city"
                  [ngClass]="{
                     'is-invalid': (city.touched ||city.dirty) && !city.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="zipCode">Zip<span class="form-error">* </span>
                  <span *ngIf="zipCode.touched && zipCode.errors?.required"
                        class="form-error">  zipCode is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="zipCode"
                  placeholder="zipCode"
                  id="zipCode"
                  [ngClass]="{
                     'is-invalid': (zipCode.touched ||zipCode.dirty) && !zipCode.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="nicNumber">Nic<span class="form-error">* </span>
                  <span *ngIf="nicNumber.touched && nicNumber.errors?.required"
                        class="form-error">  nicNumber is required!</span>
                  <span *ngIf="nicNumber.errors?.minlength"
                        class="form-error"> nicNumber should contain 10 characters</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="nicNumber"
                  placeholder="nicNumber"
                  id="nicNumber"
                  [ngClass]="{
                     'is-invalid': (nicNumber.touched ||nicNumber.dirty) && !nicNumber.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="ppNo">Passport Number<span class="form-error">* </span>
                  <span *ngIf="ppNo.touched && ppNo.errors?.required"
                        class="form-error">  ppNo is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="ppNo"
                  placeholder="ppNo"
                  id="ppNo"
                  [ngClass]="{
                     'is-invalid': (ppNo.touched ||ppNo.dirty) && !ppNo.valid }"></app-common-textbox>
              </div>

            </div>
            <div class="offset-md-2 col-md-4">
              <div class="card-footer">
                <button class="btn btn-primary mr-3" (click)="saveCustomer()">Submit</button>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

