<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <!--        <div class="card-header">-->
        <!--          <h5>Customer Details Form</h5>-->
        <!--        </div>-->
        <div class="card-body">
          <form novalidate
                (ngSubmit)="saveCustomer()"
                [formGroup]="customersForm">

            <div class="ui-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label for="firstName">First name<span class="form-error">* </span>
                  <span *ngIf="firstName.touched && firstName.errors?.required"
                        class="form-error">  First name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="firstName"
                  placeholder="First name"
                  id="firstName"
                  [ngClass]="{
            'is-invalid': (firstName.touched ||firstName.dirty) && !firstName.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="lastName">Last name<span class="form-error">* </span>
                  <span *ngIf="lastName.touched && lastName.errors?.required"
                        class="form-error">  Last name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="lastName"
                  placeholder="Last name"
                  id="lastName"
                  [ngClass]="{
                     'is-invalid':(lastName.touched ||lastName.dirty) && !lastName.valid}"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="email">Email<span class="form-error">* </span>
                  <span *ngIf="email.touched && email.errors?.required"
                        class="form-error">  email is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Email"
                  formControlName="email"
                  placeholder="email"
                  id="email"
                  [ngClass]="{
                     'is-invalid': (email.touched ||email.dirty) && !email.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <label for="telNo">Contact Number<span class="form-error">* </span>
                  <span *ngIf="telNo.touched && telNo.errors?.required"
                        class="form-error">  Contact Number is required!</span>
                  <span *ngIf="telNo.errors?.isNum"
                        class="form-error">  Contact Number must be numbers</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="telNo"
                  placeholder="Contact No"
                  id="telNo"
                  [ngClass]="{
                     'is-invalid': (telNo.touched ||telNo.dirty) && !telNo.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="addressLine1">AddressLine1<span class="form-error">* </span>
                  <span *ngIf="addressLine1.touched && addressLine1.errors?.required"
                        class="form-error">  addressLine is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="addressLine1"
                  placeholder="addressLine1"
                  id="addressLine1"
                  [ngClass]="{
                     'is-invalid': (addressLine1.touched ||addressLine1.dirty) && !addressLine1.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <label for="addressLine2">AddressLine2<span class="form-error">* </span>
                  <span *ngIf="addressLine2.touched && addressLine2.errors?.required"
                        class="form-error">  addressLine is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="addressLine2"
                  placeholder="addressLine2"
                  id="addressLine2"
                  [ngClass]="{
                     'is-invalid': (addressLine2.touched ||addressLine2.dirty) && !addressLine2.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="country">Country<span class="form-error">* </span>
                  <span *ngIf="country.touched && country.errors?.required"
                        class="form-error">  country is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="country"
                  placeholder="country"
                  id="country"
                  [ngClass]="{
                     'is-invalid': (country.touched ||country.dirty) && !country.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="city">City<span class="form-error">* </span>
                  <span *ngIf="city.touched && city.errors?.required"
                        class="form-error">  city is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="city"
                  placeholder="city"
                  id="city"
                  [ngClass]="{
                     'is-invalid': (city.touched ||city.dirty) && !city.valid }"></app-common-textbox>

              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="zip">Zip<span class="form-error">* </span>
                  <span *ngIf="zip.touched && zip.errors?.required"
                        class="form-error">  zip is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="zip"
                  placeholder="zip"
                  id="zip"
                  [ngClass]="{
                     'is-invalid': (zip.touched ||zip.dirty) && !zip.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="nic">Nic<span class="form-error">* </span>
                  <span *ngIf="nic.touched && nic.errors?.required"
                        class="form-error">  nic is required!</span>
                  <span *ngIf="nic.errors?.minlength" class="form-error"> nic should contain 10 characters</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="nic"
                  placeholder="nic"
                  id="nic"
                  [ngClass]="{
                     'is-invalid': (nic.touched ||nic.dirty) && !nic.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="ppNo">Passport Number<span class="form-error">* </span>
                  <span *ngIf="ppNo.touched && ppNo.errors?.required"
                        class="form-error">  ppNo is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="ppNo"
                  placeholder="ppNo"
                  id="ppNo"
                  [ngClass]="{
                     'is-invalid': (ppNo.touched ||ppNo.dirty) && !ppNo.valid }"></app-common-textbox>
              </div>

            </div>
            <div class="offset-md-2 col-md-4">
              <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-1">Submit</button>
                <input type="reset" class="btn btn-light" value="Cancel">
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

