<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5>Customer Details Form</h5>
        </div>
        <div class="card-body">
          <form novalidate
                (ngSubmit)="saveCustomer()"
                [formGroup]="customersForm">

            <div class="ui-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label for="firstName">First name<span class="form-error">* </span>
                  <span *ngIf="firstName.touched && firstName.errors?.required"
                        class="form-error">  First name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="firstName"
                  placeholder="First name"
                  id="firstName"
                  [ngClass]="{
            'is-invalid': (firstName.touched ||firstName.dirty) && !firstName.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="lastName">Last name<span class="form-error">* </span>
                  <span *ngIf="lastName.touched && lastName.errors?.required"
                        class="form-error">  Last name is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="lastName"
                  placeholder="Last name"
                  id="lastName"
                  [ngClass]="{
                     'is-invalid':(lastName.touched ||lastName.dirty) && !lastName.valid}"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="nic">nic<span class="form-error">* </span>
                  <span *ngIf="nic.touched && nic.errors?.required"
                        class="form-error">  nic is required!</span>
                  <span *ngIf="nic.errors?.minlength" class="form-error"> nic should contain 10 characters</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="nic"
                  placeholder="nic"
                  id="nic"
                  [ngClass]="{
                     'is-invalid': (nic.touched ||nic.dirty) && !nic.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="email">email<span class="form-error">* </span>
                  <span *ngIf="email.touched && email.errors?.required"
                        class="form-error">  email is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Email"
                  formControlName="email"
                  placeholder="email"
                  id="email"
                  [ngClass]="{
                     'is-invalid': (email.touched ||email.dirty) && !email.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <label for="telNo">Contact No<span class="form-error">* </span>
                  <span *ngIf="telNo.touched && telNo.errors?.required"
                        class="form-error">  Contact Number is required!</span>
                  <span *ngIf="telNo.errors?.isNum"
                        class="form-error">  Contact Number must be numbers</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="telNo"
                  placeholder="Contact No"
                  id="telNo"
                  [ngClass]="{
                     'is-invalid': (telNo.touched ||telNo.dirty) && !telNo.valid }"></app-common-textbox>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="address">address<span class="form-error">* </span>
                  <span *ngIf="address.touched && address.errors?.required"
                        class="form-error">  address is required!</span>
                </label>
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="address"
                  placeholder="address"
                  id="address"
                  [ngClass]="{
                     'is-invalid': (address.touched ||address.dirty) && !address.valid }"></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <div class="form-group">
                  <label>Gender</label>
                  <div>
                    <app-common-radiobutton id="male" groupName="Gender" [value]='male' formControlName="gender"
                                            type="radio" label="male"></app-common-radiobutton>
                    <!--                    <input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender">-->
                    <!--                    <label class="custom-control-label" for="male">Male</label>-->
                  </div>
                  <div>
                    <app-common-radiobutton id="female" groupName="Gender" [value]='female' formControlName="gender"
                                            type="radio" label="female"></app-common-radiobutton>
                    <!--                    <input id="female" type="radio" class="custom-control-input" value="female" name="gender" formControlName="gender">-->
                    <!--                    <label class="custom-control-label" for="female">Female</label>-->
                  </div>
                </div>
              </div>


            </div>


            <div class="offset-md-2 col-md-4">
              <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-1">Submit</button>
                <input type="reset" class="btn btn-light" value="Cancel">
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

