<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="faq-wrap">
    <div class="row">
      <div class="col-xl-4 xl-100">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Articles</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="file-text"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-md-6">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Knowledgebase</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="book-open"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-md-6">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Support</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="aperture"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="header-faq">
          <h5 class="mb-0">Quick Questions are answered</h5>
        </div>
        <div class="row default-according style-1 faq-accordion" id="accordionoc">
          <div class="col-xl-8 xl-60 col-lg-6 col-md-7">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed1 = !isCollapsed1"
                    [attr.aria-expanded]="!isCollapsed1" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Integrating WordPress with Your
                    Website?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed1">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed2 = !isCollapsed2"
                    [attr.aria-expanded]="!isCollapsed2" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress Site Maintenance ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed2">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed3 = !isCollapsed3"
                    [attr.aria-expanded]="!isCollapsed3" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Meta Tags in WordPress ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed3">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed4 = !isCollapsed4"
                    [attr.aria-expanded]="!isCollapsed4" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress in Your Language ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed4">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="faq-title">
              <h6>Intellectual Property</h6>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed5 = !isCollapsed5"
                    [attr.aria-expanded]="!isCollapsed5" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress Site Maintenance ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed5">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed6 = !isCollapsed6"
                    [attr.aria-expanded]="!isCollapsed6" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress in Your Language ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed6">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed7 = !isCollapsed7"
                    [attr.aria-expanded]="!isCollapsed7" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Integrating WordPress with Your
                    Website ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed7">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="faq-title">
              <h6>Selling And Buying</h6>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed8 = !isCollapsed8"
                    [attr.aria-expanded]="!isCollapsed8" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress Site Maintenance ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed8">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed9 = !isCollapsed9"
                    [attr.aria-expanded]="!isCollapsed9" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons>Meta Tags in WordPress ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed9">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed10 = !isCollapsed10"
                    [attr.aria-expanded]="!isCollapsed10" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Validating a Website ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed10">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed11 = !isCollapsed11"
                    [attr.aria-expanded]="!isCollapsed11" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Know Your Sources ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed11">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="faq-title">
              <h6>User Accounts</h6>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed12 = !isCollapsed12"
                    [attr.aria-expanded]="!isCollapsed12" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Integrating WordPress with Your
                    Website ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed12">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed13 = !isCollapsed13"
                    [attr.aria-expanded]="!isCollapsed13" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress Site Maintenance ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed13">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed14 = !isCollapsed14"
                    [attr.aria-expanded]="!isCollapsed14" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> WordPress in Your Language ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed14">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed15 = !isCollapsed15"
                    [attr.aria-expanded]="!isCollapsed15" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons> Validating a Website ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed15">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed pl-0" (click)="isCollapsed16 = !isCollapsed16"
                    [attr.aria-expanded]="!isCollapsed16" aria-controls="collapse">
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons>Meta Tags in WordPress ?
                  </button>
                </h5>
              </div>
              <div class="collapse" [ngbCollapse]="isCollapsed16">
                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus.</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 xl-40 col-lg-6 col-md-5">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-mb-faq xs-mt-search">
                  <div class="card-header faq-header">
                    <h5>Search articles</h5>
                    <app-feather-icons [icon]="'help-circle'"></app-feather-icons>
                  </div>
                  <div class="card-body faq-body">
                    <div class="faq-form">
                      <input class="form-control" type="text" placeholder="Search..">
                      <app-feather-icons class="search-icon" [icon]="'search'"></app-feather-icons>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card card-mb-faq">
                  <div class="card-header faq-header">
                    <h5>Navigation</h5>
                    <app-feather-icons [icon]="'settings'"></app-feather-icons>
                  </div>
                  <div class="card-body faq-body">
                    <div class="navigation-btn"><a class="btn btn-primary"  href="javascript:void(0)">
                        <app-feather-icons class="m-r-10" [icon]="'message-square'"></app-feather-icons>Ask Question
                      </a></div>
                    <div class="navigation-option">
                      <ul>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'edit'"></app-feather-icons>Tutorials
                          </a></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'globe'"></app-feather-icons>Help center
                          </a></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'book-open'"></app-feather-icons>Knowledgebase
                          </a></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'file-text'"></app-feather-icons>Articles
                          </a><span class="badge badge-primary badge-pill pull-right">42</span></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'youtube'"></app-feather-icons>Video Tutorials
                          </a><span class="badge badge-primary badge-pill pull-right">648</span></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'message-circle'"></app-feather-icons>Ask our community
                          </a></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'mail'"></app-feather-icons>Contact us
                          </a></li>
                      </ul>
                      <hr>
                      <ul>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'message-circle'"></app-feather-icons>Ask our community
                          </a></li>
                        <li><a  href="javascript:void(0)">
                            <app-feather-icons [icon]="'mail'"></app-feather-icons>Contact us
                          </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header faq-header">
                    <h5 class="d-inline-block">Latest Updates</h5><span class="pull-right d-inline-block">See All</span>
                  </div>
                  <div class="card-body faq-body">
                    <div class="media updates-faq-main">
                      <div class="updates-faq">
                        <app-feather-icons class="font-primary" [icon]="'rotate-cw'"></app-feather-icons>
                      </div>
                      <div class="media-body updates-bottom-time">
                        <p><a  href="javascript:void(0)">David Linner </a>requested money back for a double debit card charge</p>
                        <p>10 minutes ago</p>
                      </div>
                    </div>
                    <div class="media updates-faq-main">
                      <div class="updates-faq">
                        <app-feather-icons class="font-primary" [icon]="'dollar-sign'"></app-feather-icons>
                      </div>
                      <div class="media-body updates-bottom-time">
                        <p>All sellers have received monthly payouts</p>
                        <p>2 hours ago</p>
                      </div>
                    </div>
                    <div class="media updates-faq-main">
                      <div class="updates-faq">
                        <app-feather-icons class="font-primary" [icon]="'link'"></app-feather-icons>
                      </div>
                      <div class="media-body updates-bottom-time">
                        <p>User Christopher <a  href="javascript:void(0)">Wallace</a> is on hold and awaiting for staff reply</p>
                        <p>45 minutes ago</p>
                      </div>
                    </div>
                    <div class="media updates-faq-main">
                      <div class="updates-faq">
                        <app-feather-icons class="font-primary" [icon]="'check'"></app-feather-icons>
                      </div>
                      <div class="media-body updates-bottom-time">
                        <p>Ticket #43683 has been closed by <a  href="javascript:void(0)">Victoria Wilson</a></p>
                        <p>Dec 7, 11:48</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="header-faq">
          <h5 class="mb-0">Featured Tutorials</h5>
        </div>
        <div class="row">
          <div class="col-xl-3 xl-50 col-md-6">
            <div class="card features-faq product-box">
              <div class="faq-image product-img"><img class="img-fluid" src="assets/images/faq/1.jpg" alt="">
                <div class="product-hover">
                  <ul>
                    <li><i class="icon-link"></i></li>
                    <li><i class="icon-import"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <h6>Web Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="card-footer"><span>Dec 15, 2019</span><span class="pull-right"><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i></span></div>
            </div>
          </div>
          <div class="col-xl-3 xl-50 col-md-6">
            <div class="card features-faq product-box">
              <div class="faq-image product-img"><img class="img-fluid" src="assets/images/faq/2.jpg" alt="">
                <div class="product-hover">
                  <ul>
                    <li><i class="icon-link"></i></li>
                    <li><i class="icon-import"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <h6>Web Development</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="card-footer"><span>Dec 15, 2019</span><span class="pull-right"><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star-o font-primary"></i></span></div>
            </div>
          </div>
          <div class="col-xl-3 xl-50 col-md-6">
            <div class="card features-faq product-box">
              <div class="faq-image product-img"><img class="img-fluid" src="assets/images/faq/3.jpg" alt="">
                <div class="product-hover">
                  <ul>
                    <li><i class="icon-link"></i></li>
                    <li><i class="icon-import"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <h6>UI Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="card-footer"><span>Dec 15, 2019</span><span class="pull-right"><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i></span></div>
            </div>
          </div>
          <div class="col-xl-3 xl-50 col-md-6">
            <div class="card features-faq product-box">
              <div class="faq-image product-img"><img class="img-fluid" src="assets/images/faq/4.jpg" alt="">
                <div class="product-hover">
                  <ul>
                    <li><i class="icon-link"></i></li>
                    <li><i class="icon-import"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <h6>UX Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
              <div class="card-footer"><span>Dec 15, 2019</span><span class="pull-right"><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i
                    class="fa fa-star-half-o font-primary"></i></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="header-faq">
          <h5 class="mb-0">Latest articles and videos</h5>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'codepen'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600">Using Video</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'codepen'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600">Vel illum qu</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'codepen'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600"> Cum sociis natoqu</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'file-text'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600"> Donec pede justo</h6>
                        <p> Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'file-text'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600"> Nam quam nunc</h6>
                        <p> Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'file-text'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600">Using Video </h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="row">
              <div class="col-xl-12 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'youtube'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600"> Vel illum qu</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'youtube'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600"> Cum sociis natoqu</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <app-feather-icons class="m-r-30" [icon]="'youtube'"></app-feather-icons>
                      <div class="media-body">
                        <h6 class="f-w-600">Donec pede justo</h6>
                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->