<app-common-grid
  #quotationGrid
  header="Customer Name - {{
    selectedCustomer
      ? selectedCustomer.customer.firstName +
          '_' +
          selectedCustomer.customer.lastName ||
        selectedCustomer.customer.companyName
      : this.firstName + '_' + this.lastName || this.companyName
  }}"
  (addPdfBtnClicked)="downloadPdf($event)"
  [addAllow]="addAllow1"
  [showToolBar]="showToolBar1"
  [showSearchBox]="showSearchBox1"
  ><button
    pButton
    type="button"
    icon="pi pi-chevron-left"
    style="margin-right: 0.25em;"
    class="btn-back"
    (click)="back()"
  ></button>
  <button
    pButton
    type="button"
    icon="icofont icofont-ui-add"
    style="margin-right: 0.25em;"
    (click)="viewForm()"
    *ngIf="
      selectedCustomer
        ? selectedCustomer.status.name === 'Re-send quotation '
        : visible
    "
  ></button>
  <button
    pButton
    type="button"
    icon="icofont icofont-ui-add"
    style="margin-right: 0.25em;"
    class="ui-button-info"
    (click)="viewForm()"
    *ngIf="
      selectedCustomer ? selectedCustomer.status.name === 'Send quotation' : ''
    "
  ></button>
</app-common-grid>

<app-common-dialog-box
  class="body .ui-dialog"
  header="Quotation Form - {{
    selectedCustomer
      ? selectedCustomer.customer.firstName + '_' + selectedCustomer.lastName ||
        selectedCustomer.customer.companyName
      : this.firstName + '_' + this.lastName || this.companyName
  }}"
  [dialogBox]="setDialogBoxValue"
  (closeButtonClick)="close()"
>
  <!--    <div class="container-fluid">-->
  <!--      <div class="row">-->
  <!--        <div class="col-sm-12 ">-->
  <!--          <div class="card">-->
  <!--            <div class="card-body">-->
  <!--              <form novalidate-->
  <!--                    (ngSubmit)="saveQuatation()"-->
  <!--                    [formGroup]="quatationForm" enctype="multipart/form-data">-->

  <!--                <div div class="p-grid p-dir-col">-->
  <!--                  <div class="p-col">-->
  <!--                    <label for="quatationNo">Quatation No<span class="form-error">* </span>-->
  <!--                      <span *ngIf="quatationNo.touched && quatationNo.errors?.required"-->
  <!--                            class="form-error">  quatationNo is required!</span>-->
  <!--                    </label>-->
  <!--                    <app-common-textbox-->
  <!--                      [inputType]="TextBoxTypes.Text"-->
  <!--                      formControlName="quatationNo"-->
  <!--                      placeholder="Quatation No"-->
  <!--                      rows="3"-->
  <!--                      id="quatationNo"-->
  <!--                      [ngClass]="{-->
  <!--                     'is-invalid':(quatationNo.touched ||quatationNo.dirty) && !quatationNo.valid}"></app-common-textbox>-->
  <!--                  </div>-->
  <!--                  <div class="p-col">-->
  <!--                    <label for="description">Description<span class="form-error">* </span>-->
  <!--                      <span *ngIf="description.touched && description.errors?.required"-->
  <!--                            class="form-error">  description required!</span>-->
  <!--                    </label>-->
  <!--                    <app-common-textarea-->
  <!--                      formControlName="description"-->
  <!--                      id="description"-->
  <!--                      [rows]="5"-->
  <!--                      [cols]="50"-->
  <!--                      [ngClass]="{-->
  <!--            'is-invalid': (description.touched ||description.dirty) && !description.valid }"></app-common-textarea>-->
  <!--                  </div>-->

  <!--                  <div class="p-col">-->
  <!--                    <div class="form-group row">-->
  <!--                      <label class="col-sm-3 col-form-label">Upload File</label>-->
  <!--                      <div class="p-col">-->
  <!--                        <input type="file" class="form-control" formControlName="pdf" (change)="onUpload($event)">-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->

  <!--                  <div class="p-col">-->
  <!--                      <label for="expiryDate">Expiry Date<span class="form-error">* </span>-->
  <!--                        <span *ngIf="expiryDate.touched && expiryDate.errors?.required"-->
  <!--                              class="form-error">  Expiry Date is required!</span>-->
  <!--                      </label>-->
  <!--                      <app-common-calender-->
  <!--                        formControlName="expiryDate"-->
  <!--                        id="expiryDate"-->
  <!--                        [ngClass]="{-->
  <!--                     'is-invalid': (expiryDate.touched ||expiryDate.dirty) && !expiryDate.valid }"></app-common-calender>-->
  <!--                  </div>-->
  <!--                  <div class="offset-md-2 col-md-4">-->
  <!--                    <div class="card-footer">-->
  <!--                      <button type="submit" class="btn btn-primary mr-1" (click)="send(selectedCustomer)">Submit</button>-->
  <!--                      <input type="reset" class="btn btn-light" value="Reset">-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </form>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <div class="container-fluid" style="width: auto !important;">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form
              novalidate
              (ngSubmit)="saveQuatation()"
              [formGroup]="quatationForm"
              enctype="multipart/form-data"
            >
              <div class="form-row">
                <div class="p-col">
                  <div class="p-col">
                    <label for="quatationNo"
                      >Quatation No<span class="form-error">* </span>
                      <span
                        *ngIf="
                          quatationNo.touched && quatationNo.errors?.required
                        "
                        class="form-error"
                      >
                        quatationNo is required!</span
                      >
                    </label>
                    <app-common-textbox
                      [inputType]="TextBoxTypes.Text"
                      formControlName="quatationNo"
                      placeholder="Quatation No"
                      rows="3"
                      id="quatationNo"
                      [ngClass]="{
                        'is-invalid':
                          (quatationNo.touched || quatationNo.dirty) &&
                          !quatationNo.valid
                      }"
                    ></app-common-textbox>
                  </div>
                  <div class="p-col">
                    <label for="description"
                      >Description<span class="form-error">* </span>
                      <span
                        *ngIf="
                          description.touched && description.errors?.required
                        "
                        class="form-error"
                      >
                        description required!</span
                      >
                    </label>
                    <app-common-textarea
                      formControlName="description"
                      id="description"
                      [rows]="5"
                      [cols]="50"
                      [ngClass]="{
                        'is-invalid':
                          (description.touched || description.dirty) &&
                          !description.valid
                      }"
                    ></app-common-textarea>
                  </div>
                  <div class="p-col">
                    <label for="UploadFile">Upload File</label>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        formControlName="pdf"
                        (change)="onUpload($event)"
                      />
                      <label
                        class="custom-file-label"
                        for="validationCustom03"
                        >{{ choosedFile }}</label
                      >
                    </div>
                  </div>
                  <br />
                  <div class="p-col">
                    <label for="expiryDate"
                      >Expiry Date<span class="form-error">* </span></label
                    >
                    <app-common-calender
                      formControlName="expiryDate"
                      id="expiryDate"
                      [ngClass]="{
                        'is-invalid':
                          (expiryDate.touched || expiryDate.dirty) &&
                          !expiryDate.valid
                      }"
                    ></app-common-calender>
                  </div>
                </div>
              </div>
              <div class="offset-md-2 col-md-4">
                <div class="card-footer">
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <button
                        type="submit"
                        class="btn btn-primary mr-1"
                        [disabled]="quatationForm.invalid"
                        (click)="send(selectedCustomer)"
                      >
                        Submit
                      </button>
                    </div>
                    <div class="col-md-4 mb-3">
                      <button
                        type="submit"
                        class="btn btn-primary mr-1"
                        (click)="clear(quatationForm)"
                      >
                        Clear
                      </button>
                    </div>
                    <!--                    <div class="col-md-6 mb-6">-->
                    <!--                      <input type="reset" class="btn btn-light" value="Reset" />-->
                    <!--                    </div>-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-common-dialog-box>
<app-loader [loader]="dataLoading"></app-loader>
