<app-common-grid
  #quotationGrid
  header="Quotation Details - ID:{{data.id + '  ' + 'Name:' + data.name}}"
  [addAllow]="addAllow1"
  [showToolBar]="showToolBar1"
  [showSearchBox]="showSearchBox1"
  (addBtnClicked) = "viewForm()"
>
</app-common-grid>

<p-dialog header="Quotation - ID:{{data.id + '  ' + 'Name:' + data.name}}" [modal]="true" [(visible)]="display" [style]="{width: '50%'}" [baseZIndex]="10000">
  <p-card>
    <app-common-textbox
                [inputType]="TextBoxTypes.Text"
                formControlName="Description"
                id="description"
                [ngClass]="{'is-invalid': (Description.touched ||Description.dirty) && !Description.valid }">
      </app-common-textbox>
  </p-card>
</p-dialog>

<!--<p-card>-->
<!--  <form novalidate-->
<!--        (ngSubmit)="saveQuatation()"-->
<!--        [formGroup]="quatationForm" enctype="multipart/form-data">-->

<!--    <div class="ui-fluid p-formgrid p-grid">-->
<!--      <div class="p-field p-col-12 p-md-6">-->
<!--        <label for="description">Description<span class="form-error">* </span>-->
<!--          <span *ngIf="Description.touched && Description.errors?.required"-->
<!--                class="form-error">  Description required!</span>-->
<!--        </label>-->
<!--        <app-common-textbox-->
<!--          [inputType]="TextBoxTypes.Text"-->
<!--          formControlName="Description"-->
<!--          id="description"-->
<!--          [ngClass]="{-->
<!--            'is-invalid': (Description.touched ||Description.dirty) && !Description.valid }"></app-common-textbox>-->
<!--      </div>-->

<!--      <div class="p-field p-col-12 p-md-6">-->
<!--        <label for="quatationNo">Quatation No<span class="form-error">* </span>-->
<!--          <span *ngIf="QuatationNo.touched && QuatationNo.errors?.required"-->
<!--                class="form-error">  QuatationNo is required!</span>-->
<!--        </label>-->
<!--        <app-common-textbox-->
<!--          [inputType]="TextBoxTypes.Text"-->
<!--          formControlName="QuatationNo"-->
<!--          id="quatationNo"-->
<!--          [ngClass]="{-->
<!--                     'is-invalid':(QuatationNo.touched ||QuatationNo.dirty) && !QuatationNo.valid}"></app-common-textbox>-->
<!--      </div>-->

<!--      <div class="p-field p-col-12 p-md-6">-->
<!--        <label for="expiryDate">Expiry Date<span class="form-error">* </span>-->
<!--          <span *ngIf="ExpiryDate.touched && ExpiryDate.errors?.required"-->
<!--                class="form-error">  Expiry Date is required!</span>-->
<!--        </label>-->
<!--        <app-common-textbox-->
<!--          [inputType]="TextBoxTypes.Text"-->
<!--          formControlName="ExpiryDate"-->
<!--          id="expiryDate"-->
<!--          [ngClass]="{-->
<!--                     'is-invalid': (ExpiryDate.touched ||ExpiryDate.dirty) && !ExpiryDate.valid }"></app-common-textbox>-->
<!--      </div>-->

<!--        <div class="offset-md-2 col-md-4">-->
<!--          <div>-->
<!--            <button class="btn btn-primary mr-3"-->
<!--                    type="submit"-->
<!--                    style="width:80px; background-position: left">Save-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->

<!--  </form>-->
<!--</p-card>-->

