<app-common-grid
  #inqueryGrid
  header="Inquiry Details"
  [addAllow]="addAllow"
  [editAllow]="editAllow"
  [showToolBar]="showToolBar"
  [deleteAllow]="deleteAllow"
  [showQuotation]="showQuotation"
  [showSearchBox]="showSearchBox"
  (quotationBtnClicked) = "viewQuotation($event)"
><button
  type="button"
  pButton
  style="margin-right: .25em"
  icon="pi pi-user-edit"
  label="Assign"
  iconPos="left"
  class="ui-button-secondary"
  *ngIf="inqueryGrid.selectedEntity && gotConsentAllow"
></button>
</app-common-grid>



