
<app-common-grid
  #inqueryGrid
  header="Customer Details"
  [addAllow]="addAllow"
  [editAllow]="editAllow"
  [showToolBar]="showToolBar"
  [deleteAllow]="deleteAllow"
  [showQuotation]="showQuotation"
  [showSearchBox]="showSearchBox"
  (quotationBtnClicked) = "viewQuotation($event)"
>
</app-common-grid>

<p-dialog header="ID:{{id + ' _ ' + 'Name:' + name}}" [(visible)]="display" [style]="{width: '75%'}">
  <app-common-grid
    #quotationGrid
    header="Quotation Details"
    [addAllow]="addAllow1"
    [showToolBar]="showToolBar1"
    [showSearchBox]="showSearchBox1"
    (addBtnClicked) = "viewForm()"
  >
  </app-common-grid>

  <div *ngIf="visible">
    <h2>Quotation Form</h2>
    <button (click)="close()">Close</button>
  </div>

</p-dialog>

