<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pie Chart <span class="digits">1</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="pieChart1"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pie Chart <span class="digits">2</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="pieChart2"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pie Chart <span class="digits">3</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="pieChart3"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pie Chart <span class="digits">4</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="pieChart4"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Area Chart <span class="digits">1</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="areaChart1"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Area Chart <span class="digits">2</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="areaChart2"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Column Chart <span class="digits">1</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="columnChart1"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Column Chart <span class="digits">2</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="columnChart2"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Bars Chart <span class="digits">1</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="barChart1"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Bars Chart <span class="digits">2</span></h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="barChart2"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Line Chart</h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="lineChart"></google-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Combo Chart</h5>
                </div>
                <div class="card-body chart-block">
                    <google-chart [data]="comboChart"></google-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->