<body>
  <div class="container-fluid">
    <div class="row">
      <div class="card myCard">
        <div class="card-body">
          <form [formGroup]="complaintForm" class="theme-form">
            <div class="ui-fluid p-formgrid p-grid">
<!--              <div class="p-field p-col-12 p-md-6">-->
<!--                <app-common-textbox-->
<!--                  labelName="Handling company"-->
<!--                  placeholder="Handling company"-->
<!--                  [inputType]="TextBoxTypes.Text"-->
<!--                  formControlName="handlingCompany"-->
<!--                  [c]="complaintForm.controls.handlingCompany"-->
<!--                  id="handlingCompany"-->
<!--                ></app-common-textbox>-->
<!--              </div>-->

              <div class="p-field p-col-12 p-md-6">
                <app-common-dropdown
                  labelName="Complaint Type"
                  (selectChange)="getComplaintSelected($event)"
                  [fields]="complainTypeId"
                ></app-common-dropdown>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <app-common-dropdown
                  labelName="Customer"
                  (selectChange)="getCustomerId($event)"
                  [fields]="showCustomers"
                ></app-common-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <app-common-textbox
                  [inputType]="TextBoxTypes.Text"
                  formControlName="contactPerson"
                  [c]="complaintForm.controls.contactPerson"
                  id="contactPerson"
                  labelName="Contact person"
                  placeholder="Contact person"
                ></app-common-textbox>

<!--                <input type="text" formControlName="contactPerson">-->
<!--                <small *ngIf="(contactPerson.invalid && contactPerson.touched)" class="text-danger">Contact person is required</small>-->
              </div>

              <div class="p-field p-col-12 p-md-6">
                <app-common-textbox
                  labelName="Contact Number"
                  placeholder="Contact Number"
                  [inputType]="TextBoxTypes.Text"
                  formControlName="contactPersonNumber"
                  [c]="complaintForm.controls.contactPersonNumber"
                  id="contactPersonNumber"
                ></app-common-textbox>
              </div>

              <div class="p-field p-col-12 p-md-6">
                <app-common-textbox
                  labelName="Designation"
                  placeholder="Designation"
                  [inputType]="TextBoxTypes.Text"
                  formControlName="designation"
                  [c]="complaintForm.controls.designation"
                  id="designation"
                ></app-common-textbox>
              </div>
            </div>
            <div class="text-area">
              <app-common-textarea
                placeholder="Typer here..."
                labelName="Description"
                [rows]="5"
                formControlName="description"
                id="description"
              ></app-common-textarea>
            </div>

            <div class="centreBtn">
              <button [disabled]="!complaintForm.valid"
                (click)="addComplaint()"
                class="btn btn-primary myBtn"
              > Submit
              </button>
<!--              <button (click)="resetForm()" class="btn btn-primary mr-3 myBtn"> Reset </button>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
