<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Primary color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-primary">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-primary">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline secondary color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-secondary">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-secondary">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-secondary">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-secondary">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-secondary">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Success color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-success">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-success">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-success">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-success">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-success">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Info color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-info">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-info">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-info">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-info">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-info">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Warning color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-warning">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-warning">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-warning">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-warning">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-warning">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Danger color</h5>
        </div>
        <div class="card-body">
          <div class="timeline-small">
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-danger">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">New</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-danger">
                <app-feather-icons [icon]="'message-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Message <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 small-line bg-danger">
                <app-feather-icons [icon]="'minus-circle'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Report <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 timeline-line-1 bg-danger">
                <app-feather-icons [icon]="'shopping-bag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Sale <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
            <div class="media">
              <div class="timeline-round m-r-30 medium-line bg-danger">
                <app-feather-icons [icon]="'tag'"></app-feather-icons>
              </div>
              <div class="media-body">
                <h6>New Visits <span class="pull-right f-14">14m Ago</span></h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                  industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid ends -->