<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Types</h5>
                </div>
                <div class="card-body btn-showcase">
                    <button type="button" class="btn btn-warning" (click)="warning()">Warning</button>
                    <button type="button" class="btn btn-success" (click)="success()">Success</button>
                    <button type="button" class="btn btn-info" (click)="info()">Information</button>
                    <button type="button" class="btn btn-danger" (click)="danger()">Danger</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Dissmiss Options</h5>
                </div>
                <div class="card-body btn-showcase">
                    <button type="button" class="btn btn-primary" (click)="timeout()">Show Toast</button>
                    <button type="button" class="btn btn-primary" (click)="dismissToastOnClick()">Clear Toast On
                        Click</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Advanced Options</h5>
                </div>
                <div class="card-body btn-showcase">
                    <button type="button" class="btn btn-primary" (click)="showCloseButton()">With Close Icon</button>
                    <button type="button" class="btn btn-primary" (click)="showProgressbar()">With Progressbar</button>
                    <button type="button" class="btn btn-primary" (click)="titleClass()">Title Class</button>
                    <button type="button" class="btn btn-primary" (click)="messageClass()">Message Class</button>
                    <button type="button" class="btn btn-primary" (click)="messageClass()">Message Class</button>
                    <button type="button" class="btn btn-primary" (click)="messageClass()">Message Class</button>
                    <button type="button" class="btn btn-primary" (click)="enableHtml()">HTML Enabled</button>
                    <button type="button" class="btn btn-primary" (click)="position()">Toastr Position</button>
                </div>
            </div>
        </div>
    </div>
</div>