<app-loader [loader]="dataLoading"></app-loader>
<mat-tab-group>
  <!--  [selectedIndex]="selectedTabIndex"-->
  <!--  (selectedIndexChange)="onTabChange($event)"-->
  <mat-tab label="Individual">
    <app-common-grid
      #IndividualCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked)="viewIndividualForm()"
    >
    </app-common-grid>
  </mat-tab>
  <mat-tab label="Corporate">
    <app-common-grid
      #CorporateCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked)="viewCorporateForm()"
    >
    </app-common-grid>
  </mat-tab>
</mat-tab-group>
<app-common-dialog-box
  class="body .ui-dialog"
  header="Add Individual Customer"
  [dialogBox]="setDialogBoxValue1"
  (closeButtonClick)="close()"
>
  <app-customer-details (submitClicked)="submitClick1()"></app-customer-details>
</app-common-dialog-box>

<app-common-dialog-box
  class="body .ui-dialog"
  header="Add Corporate Customer"
  [dialogBox]="setDialogBoxValue2"
  (closeButtonClick)="close()"
>
  <app-corporate-details
    (submitClicked)="submitClick2()"
  ></app-corporate-details>
</app-common-dialog-box>
