<app-loader [loader]="dataLoading"></app-loader>
<mat-tab-group>
  <mat-tab label="Individual">
    <app-common-grid
      #IndividualCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked) = "viewIndividualForm()"
    >
    </app-common-grid>
    <div *ngIf="dataLoading1">
      <div class="loader-table">
        <div class="whirly-loader"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Corporate">
    <app-common-grid
      #CorporateCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked) = "viewCorporateForm()"
    >
    </app-common-grid>
    <div *ngIf="dataLoading2">
      <div class="loader-table">
        <div class="whirly-loader"></div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<!--<app-common-dialog-box  class="body .ui-dialog "header="Add Individual Customer" [dialogBox]="setDialogBoxValue1"  (closeButtonClick)="close()">-->
<!--  <app-customer-details></app-customer-details>-->
<!--</app-common-dialog-box>-->

<!--<app-common-dialog-box>-->
<!--  <app-corporate-details></app-corporate-details>-->
<!--</app-common-dialog-box>-->
