<app-loader [loader]="dataLoading"></app-loader>
<mat-tab-group>
  <mat-tab label="Individual">
    <app-common-grid
      #IndividualCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked) = "viewIndividualForm()"
    >
    </app-common-grid>
  </mat-tab>
  <mat-tab label="Corporate">
    <app-common-grid
      #CorporateCompanyListGrid
      [addAllow]="addAllow"
      (addBtnClicked) = "viewCorporateForm()"
    >
    </app-common-grid>
  </mat-tab>
</mat-tab-group>
<!--<app-common-dialog-box>-->
<!--  <app-customer-details></app-customer-details>-->
<!--</app-common-dialog-box>-->

<!--<app-common-dialog-box>-->
<!--  <app-corporate-details></app-corporate-details>-->
<!--</app-common-dialog-box>-->
