.body .ui-dropdown .ui-dropdown-label {
  padding-right: 2em;
  background-color: #f2f5f6 !important;
  border-color:#f2f5f6 !important   ;

}

.ui-fluid .ui-dropdown, .ui-fluid p-dropdown {
  border-color: #ebf1f1 !important;
}
