.form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

inputtext {
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  /* padding: 0.429em; */
  border: 1px solid #a6a6a6;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.p-grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: 0.5rem !important;
  margin-top: -0.5rem;
}

element.style {
  width: 80px;
  background-position: center;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #6a7a8c;
  text-align: left;
  background-color: #f2f4f5;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
}

.ui-fluid .ui-inputtext {
  width: 80% !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui-card-body {
  padding: 1em;
  background: white;
  height: 75em !important;
  height: 80vh !important;
  width: auto;
}

.body .ui-inputtext {
  font-size: 15px;
  width : 120%;
  color: #4e4748;
  background: #ffffff;
  padding: 0.300em;
  border: 1px solid #c8c8c8c2 !important; ;
  transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
