
<p-card [header]="header">
  <div class="main-tab-in">
    <div class="ui-g-12">
      <div class="ui-g-12 toolbar-table">
        <div>
          <p-toolbar *ngIf="showToolBar">
            <div class="ui-toolbar-group-left">
              <!--    <button pButton type="button" icon="pi pi-refresh" style="margin-right: .25em" class="ui-button-secondary" (click)="this.refreshClick()"></button>-->

              <button
                *ngIf="addAllow"
                pButton
                type="button"
                icon="pi pi-plus"
                style="margin-right: .25em"
                class="ui-button-info"
                (click)="addClick()"
              ></button>
              <button
                *ngIf="this.selectedEntity && editAllow"
                pButton
                type="button"
                icon="pi pi-user-edit"
                style="margin-right: .25em"
                class="ui-button-success"
                (click)="this.editClick()"
              ></button>
              <button
                *ngIf="this.selectedEntity && deleteAllow"
                pButton
                type="button"
                icon="pi pi-trash"
                style="margin-right: .25em"
                class="ui-button-danger"
                (click)="this.deleteClick()"
              ></button>
              <ng-content></ng-content>
              <button
                *ngIf="this.selectedEntity && showQuotation"
                pButton
                type="button"
                icon="pi pi-external-link"
                style="margin-right: .25em"
                class="ui-button-warning"
                label=" View Quotation"
                (click)="quotationClick(this.selectedEntity)"
              ></button>
            </div>
            <div class="ui-toolbar-group-right">
              <input
                *ngIf="showSearchBox"
                type="text"
                pInputText
                size="30"
                placeholder="Global Search"
                (input)="grid.filterGlobal($event.target.value, 'contains')"
                style="width:auto"/>
            </div>

          </p-toolbar>

          <p-table [columns]="columnsList"
                   [value]="rowLists"
                   [resizableColumns]="true"
                   columnResizeMode="expand"
                   [scrollable]="true"
                   [rowsPerPageOptions]="rowsPerPageOptions"
                   [paginator]="defaultPaginationEnabled"
                   [rows]="rowsPerPage"
                   [rowHover]="true"
                   [showCurrentPageReport]="true"
                   [loading]="dataLoading"
                   [selectionMode]="selectionMode"
                   [responsive]="true"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [(selection)]="selectedEntity"
                   ng-class="ui-column-filter"
                   [globalFilterFields]="GlobalSearchList()"
                   #grid>

            <!--    <div class="ui-helper-clearfix" style="text-align: left">-->
            <!--      <button type="button" pButton icon="pi pi-plus" iconPos="left" label="Add" style="margin-right: 0.5em;"></button>-->
            <!--      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" style="margin-right: 0.5em;" class="ui-button-success"></button>-->
            <!--      <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" class="ui-button-warning"></button>-->
            <!--      <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" style="float:right"></button>-->
            <!--    </div>-->

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th
                  *ngFor="let col of columns"
                  [pSortableColumn]="col.mappingName"
                  pResizableColumn
                  pReorderableColumn
                  [ngStyle]="{ 'min-width': col.columnWidth + 'px', width: col.columnWidth + 'px', display: col.columnType === 8 ? 'none' : '' }"
                >
                  {{ col.columnName }}
                  <!--<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>-->
                  <p-sortIcon [field]="col.mappingName"></p-sortIcon>
                </th>
              </tr>

              <!--        <tr>-->
              <!--            <th>-->
              <!--                <input pInputText type="text" (input)="grid.filter($event.target.value, 'id', 'startsWith')" placeholder="Search by Id" class="ui-column-filter">-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <input pInputText type="text" (input)="grid.filter($event.target.value, 'name', 'contains')" placeholder="Search by Name" class="ui-column-filter">-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <input pInputText type="text" (input)="grid.filter($event.target.value, 'cperson', 'contains')" placeholder="Search by ContactPerson" class="ui-column-filter">-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <input pInputText type="text" (input)="grid.filter($event.target.value, 'cno', 'contains')" placeholder="Search by Contact No" class="ui-column-filter">-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <app-custom-dropdown [fields]="companies" (selectChange)="filterCompany($event)" styleClass="ui-column-filter" placeholder="Select a Company"></app-custom-dropdown>-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <input pInputText type="text" (input)="grid.filter($event.target.value, 'address', 'contains')" placeholder="Search by Address" class="ui-column-filter">-->
              <!--            </th>-->
              <!--            <th>-->
              <!--                <app-custom-dropdown [fields]="statuses" (selectChange)="filterStatus($event)" styleClass="ui-column-filter" placeholder="Select a Status"></app-custom-dropdown>-->
              <!--            </th>-->

            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td
                  *ngFor="let col of columns"
                  class="ui-resizable-column"
                  [ngStyle]="{width: col.columnWidth + 'px',display: col.columnType === 8 ? 'none' : ''}"
                >
                  <div style="display: inline">
                    <span
                      *ngIf="col.columnType == 1"
                      style="display: inline-block"
                      attr.name="{{ col.mappingName }}"
                      attr.id="{{ rowData[col.mappingName] }}"
                    >
                        {{rowData[col.mappingName]}}
                    </span>
                    <span
                      *ngIf="col.columnType == 2"
                      style="display: inline-block"
                      attr.name="{{ col.mappingName }}"
                      attr.id="{{ rowData[col.mappingName] }}"
                    >
                        {{(rowData[col.mappingName] | number: col.columnFormat)}}
                    </span>
                    <span
                      *ngIf="col.columnType == 3"
                      style="display: inline-block"
                      attr.name="{{ col.mappingName }}"
                      attr.id="{{ rowData[col.mappingName] }}"
                    >
                         {{(rowData[col.mappingName] | date: col.columnFormat)}}
                     </span>
                    <!--                         <span-->
                    <!--                         *ngIf="colType==pdf">-->
                    <!--                             <button-->
                    <!--                                     type="button"-->
                    <!--                                     pButton-->
                    <!--                                     style="margin-right: .25em"-->
                    <!--                                     icon="pi pi-user-edit"-->
                    <!--                                     label="Assign"-->
                    <!--                                     iconPos="left"-->
                    <!--                                     class="ui-button-secondary"-->
                    <!--                             ></button>-->
                    <!--                         </span>-->
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <div class="tables-no-records">
                No Records Found
              </div>
            </ng-template>

            <!--    <ng-template pTemplate="summary">-->
            <!--        <div style="text-align: left">-->
            <!--            Selected Customer: {{selectedEntity ? selectedEntity.id + ' - ' + selectedEntity.name : 'none' }}-->
            <!--        </div>-->
            <!--    </ng-template>-->

          </p-table>
        </div>
      </div>
    </div>
  </div>
</p-card>

