<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-body">
          <form novalidate
                (ngSubmit)="getCustomer()"
                [formGroup]="individualCorpCustomerForm">
            <div class="ui-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label>Select Inquiry Type</label>
                <app-common-dropdown [fields]='customers' placeholder="Select inquiry type"
                                     (selectChange)="getCompanySelected($event)"></app-common-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label>Select Company</label>
                <app-common-dropdown [fields]='customers' (selectChange)="getCompanySelected($event)"
                                     formControlName="handlingCustomer"></app-common-dropdown>
              </div>
            </div>
            <br> <br>
            <label>Select Customer</label>
            <div class="ui-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label>New Customer</label>
                <p-radioButton name="customer" value="new" formControlName="customerStatus"
                               (onClick)="getCustomerStuatus(customerStatus)"></p-radioButton>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label>Existing Customer</label>
                <p-radioButton name="customer" value="exist" formControlName="customerStatus"
                               (onClick)="getCustomerStuatus(customerStatus)"></p-radioButton>
              </div>
            </div>
            <div *ngIf="formEnable">
              <app-common-dropdown [fields]='customers' (selectChange)="getCustomerId($event)"
                                   formControlName="handlingCustomer"></app-common-dropdown>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

